<app-header></app-header>

<div class="ion-page" id="main-content">
  <!-- Tab Top -->
  <ion-header>
    <ion-toolbar class="ion-toolbar-top">
      <ion-buttons class="tab-button" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tableros</ion-title>
      <ion-button id="btn-search" class="ion-btn" slot="end">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/notifications']" class="ion-btn" slot="end">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <!-- Body -->
    <ion-content id="home-content">
      <!-- Sección compartir perfíl -->
      <div class="share-profile-row">
        <img class="person-home-one" src="../../assets/icon/home/person-2-home.svg" alt="person-home-icon-1">
        <h4 class="title-no-tabs">¡Avisa a tu equipo de tu llegada!</h4>
        <span class="desc-no-tabs">Comparte tu perfil para que los colaboradores puedan añadirte a Espacios de trabajo y tableros.</span>
        <ion-button id="share-profile-btn">Comparte tu perfil de Trellok</ion-button>
      </div>

      
    </ion-content>
</div>

