<!-- Tab Top Content -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="ion-title-tab">
      <div class="top-content-menu">
        <img class="user-logo" src="{{ userData?.profile_pic }}" alt="user-logo">
        <ion-icon class="exit-menu-icon" aria-hidden="true" name="exit-outline" slot="end" (click)="logout()"></ion-icon>
      </div>
      <h4 class="user-name">{{ userData?.user_name }}</h4>
      <span class="user-tag">{{ userData?.user_tag }}<br></span>
      <span class="user-email">
        {{ userData?.user_email }}
        <ion-icon class="drop-menu-icon" name="chevron-down-outline" slot="end"></ion-icon>
      </span>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="ion-main-content">
      <ion-list class="tab-list">
        <ion-item class="ion-item item-tab-list">
          <img aria-hidden="true" src="../../assets/icon/logo_colored.png" class="icon-tabs" alt="logo-icon">
          <ion-label class="label-tabs" [routerLink]="['/boards']">Tableros</ion-label>
        </ion-item>
      </ion-list>

      <!-- Espacio de Trabajo -->
      <h6 class="ws-title">Espacios de trabajo</h6>
      <ion-list>
        <ion-item class="ion-item">
          <ion-icon aria-hidden="true" name="people-outline" slot="start"></ion-icon>
          <ion-label>Espacio de trabajo de {{ userData?.user_name }}</ion-label>
          <ion-icon class="ion-icon-list" aria-hidden="true" name="ellipsis-vertical" slot="end"></ion-icon>
        </ion-item>
      </ion-list>

      <hr class="linea">

      <!-- 4 botones -->
      <ion-list>
        <ion-item class="ion-item" [routerLink]="['/cards']">
          <ion-icon class="ion-icon-list" aria-hidden="true" name="card-outline" slot="start"></ion-icon>
          <ion-label>Mis tarjetas</ion-label>
        </ion-item>
        <ion-item class="ion-item" [routerLink]="['/nc-cards']">
          <ion-icon class="ion-icon-list" aria-hidden="true" name="wifi" slot="start"></ion-icon>
          <ion-label>Tableros sin conexión</ion-label>
        </ion-item>
        <ion-item class="ion-item" [routerLink]="['/settings']">
          <ion-icon class="ion-icon-list" aria-hidden="true" name="cog-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <ion-item class="ion-item">
          <ion-icon class="ion-icon-list" aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>¡Ayuda!</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!-- Tab Top -->
  <ion-header>
    <ion-toolbar class="ion-toolbar-top">
      <ion-buttons class="tab-button" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tableros</ion-title>
      <ion-button id="btn-search" class="ion-btn" slot="end">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/notifications']" class="ion-btn" slot="end">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <!-- Body -->
    <ion-content id="home-content">
      <!-- Sección compartir perfíl -->
      <div class="share-profile-row">
        <img class="person-home-one" src="../../assets/icon/home/person-2-home.svg" alt="person-home-icon-1">
        <h4 class="title-no-tabs">¡Avisa a tu equipo de tu llegada!</h4>
        <span class="desc-no-tabs">Comparte tu perfil para que los colaboradores puedan añadirte a Espacios de trabajo y tableros.</span>
        <ion-button id="share-profile-btn">Comparte tu perfil de Trellok</ion-button>
      </div>

      <!-- Sección crear primer tablero -->
      <div class="create-first-tab">
        <img class="person-home-two" src="../../assets/icon/home/person-1-home.svg" alt="person-home-icon-1">
        <h4 class="title-no-tabs">¿Nadie te acompaña aún?</h4>
        <span class="desc-no-tabs">Crea un tablero para empezar y compártelo luego con colaboradores.</span>
        <ion-button id="create-first-tab-btn" [routerLink]="['/create-board']">Crea tu primer tablero de Trellok</ion-button>
      </div>
    </ion-content>
</div>

<!-- Contenedor de la página superpuesta -->
<div class="overlay-page" id="overlay-page">
  <router-outlet></router-outlet> <!-- Esto carga la nueva página superpuesta -->
</div>